

<!DOCTYPE html>
<html>
<head>
<title>Science Tutoring Website</title>
</head>
<body>
<h1>Welcome to the Science Tutoring Website!</h1>
<p>This website allows students to find tutors, schedule tutoring sessions, and track their progress.</p>
<p>To get started, please click on one of the links below:</p>
<ul>
<li><a href="/tutors">Find a Tutor</a></li>
<li><a href="/schedule">Schedule a Tutoring Session</a></li>
<li><a href="/progress">Track Your Progress</a></li>
<li><a href="/resources">Resources</a></li>
</ul>
</body>
</html>


